<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConsoleApplication1.Properties.PGTSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!-- 
  <connectionStrings>
    <add name="isetanutdbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCA-MOBILE-01\ISETANUTDB;initial catalog=isetanutdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  -->
 <connectionStrings>
   <!--  SQLServer認証接続用接続文字列 -->
   <add name="SQLCON"
        connectionString="Data Source=CCA-MOBILE-01\ISETANUTDB;Initial Catalog=isetanutdb;Persist Security Info=True;User ID=sa;Password=sa2014#"
   />
   <!--  統合認証接続用接続文字列 -->
   <!-- connectionStrings="Data Source=CCA-MOBILE-01\ISETANUTDB;Initial Catalog=isetanutdb;Integrated Security=True" -->
   <!--  EntityFrameWork用接続文字列 -->
   <add name="isetanutdbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCA-MOBILE-01\ISETANUTDB;initial catalog=isetanutdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 </connectionStrings>   
 <applicationSettings>
  <ConsoleApplication1.Properties.PGTSetting>
   <setting name="LogPath" serializeAs="String">
    <value>C:\logs2\IVRCALL.log</value>
   </setting>
   <setting name="ConnectionStr" serializeAs="String">
    <value>Data Source=CCA-MOBILE-01\ISETANUTDB;Initial Catalog=isetanutdb;Persist Security Info=True;User ID=sa;Password=sa2014#</value>
   </setting>
   <setting name="PlayCount" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SeverIP" serializeAs="String">
    <value>127.0.0.1</value>
   </setting>
   <setting name="SeverPort" serializeAs="String">
    <value>20000</value>
   </setting>
   <setting name="SettingFilePath" serializeAs="String">
    <value>c:\setttings</value>
   </setting>
   <setting name="SettingFileName" serializeAs="String">
    <value>PGTSetting.config</value>
   </setting>
   <setting name="ApLogPrefix" serializeAs="String">
    <value>IVRCALL</value>
   </setting>
   <setting name="ExNo" serializeAs="String">
    <value>03</value>
   </setting>
   <setting name="ServerID" serializeAs="String">
    <value>ServerID</value>
   </setting>
  </ConsoleApplication1.Properties.PGTSetting>
 </applicationSettings>
</configuration>